<div class="Select2-Custom-$customField.id" id="Select2-Custom-$customField.id">
    #disable_html_escaping()
    #customControlHeader ($action $customField.id $customField.name
        $fieldLayoutItem.required $displayParameters $auiparams)
    ## $webResourceManager.requireResource("scriptDisableHide")
    <script type="text/javascript">
        AJS.toInit(function () {
            if ('MutationObserver' in window) {
                if (!('jira_editSingleObserver' in window)) {
                    window.jira_editSingleObserver = new MutationObserver(function(records) {
                        for (let record of records) {
                            for (let addedNode of record.addedNodes) {
                                AJS.$(".select-2-single-cf", addedNode).auiSelect2();
                            }
                        }
                    })
                    window.jira_editSingleObserver.observe(document.body, {
                        attributes: false,
                        childList: true,
                        subtree: true
                    })
                    AJS.$(".select-2-single-cf").auiSelect2();
                }
            } else {
                AJS.$(".select-2-single-cf").auiSelect2();
            }
        });
    </script>
    <select class="select-2-single-cf" id="$customField.id" name="$customField.id">
        <option></option>
        #foreach( $option in $configs.options ) )
            #if (!$option.disabled || $option.disabled == false) ||
                ($value && $value.contains($option.optionId.toString())))
                <option value="$option.optionId"
                    #if ($value && $value.contains($option.optionId.toString()))
                        selected="selected"
                    #end
                >$cfValueEncoder.encodeForHtml($option.value)</option>
            #end
        #end
    </select>
    #customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
</div>
