#disable_html_escaping()
#macro(versionOptionGroup $versionOptions $selectedValues $groupTitleI18nKey $dataVersionGroupName)
    #if ($versionOptions && !$versionOptions.empty)
    <optgroup label="$i18n.getText($groupTitleI18nKey)" data-version-group="$dataVersionGroupName">
        #foreach ($option in $versionOptions)
            <option#if ($selectedValues && $selectedValues.contains($option.id.toString())) selected="selected"#end value="$option.id" title="$textutils.htmlEncode($option.name)">
                $textutils.htmlEncode($option.name)
            </option>
        #end
    </optgroup>
    #end
#end
#if ($multiple || (!$multiple && $archivedVersions.empty))
    #if ($multiple)
        $!{auiparams.put("controlHeaderClass", "aui-field-versionspicker $!fieldLayoutItem.rendererType")}
    #end
    #customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
    #if ($value)
        #set ($selectedValues = $value)
    #end
    #if ($collection.isNotEmpty($releasedVersion) || $collection.isNotEmpty($unreleasedVersion))
    <select class="select" id="$customField.id"#if ($multiple) multiple="multiple" size="6" #end name="$customField.id"
            data-remove-null-options="true">
        <option value="-1"#if (!$selectedValues || $selectedValues.contains("-1")) selected="selected"#end title="$i18n.getText('common.words.unknown')">
            $i18n.getText('common.words.unknown')
        </option>
        #if ($unreleasedFirst == true)
            #versionOptionGroup($unreleasedVersion, $selectedValues, 'common.filters.unreleasedversions', 'unreleasedVersion')
            #versionOptionGroup($releasedVersion, $selectedValues, 'common.filters.releasedversions', 'releasedVersion')
        #else
            #versionOptionGroup($releasedVersion, $selectedValues, 'common.filters.releasedversions', 'releasedVersion')
            #versionOptionGroup($unreleasedVersion, $selectedValues, 'common.filters.unreleasedversions', 'unreleasedVersion')
        #end
    </select>
        #if ($multiple && $!isFrotherControl)
        <div class="aui-description description">${i18n.getText('generic.picker.static.desc')}</div>
        #end
    #else
        $i18n.getText('common.words.none')
    #end
    #customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
    $!{auiparams.clear()}
#end
#if ($archivedVersions && !$archivedVersions.empty)
    #customControlHeader ($action "" "$customField.name (${i18n.getText('admin.common.words.archived')})" false $displayParameters $auiparams)
    <span class="field-value">
    #foreach ($version in $archivedVersions)
        <a href="$req.getContextPath()/issues/?jql=project%3D%22$velocityhelper.urlencode($issue.projectObject.key)%22%20AND%20%22$velocityhelper.urlencode($customField.name)%22%3D%22$velocityhelper.urlencode($version.name)%22%20ORDER%20BY%20priority%20ASC">$textutils.htmlEncode($version.name)</a>#comma($archivedVersions)
        <input name="$customField.id" type="hidden" value="$version.id" />
    #end
    </span>
    #customControlFooter ($action "" false $displayParameters $auiparams)
#end
