<div class="Select2-Custom-$customField.id" id="Select2-Custom-$customField.id">
    ## $webResourceManager.requireResource("scriptDisableHide")
    <script type="text/javascript">
        (function ($) {
            AJS.$("#$customField.id option[value='-1']").remove(); ##Removes the default value "None"
            function convertMulti(id) {
                if (AJS.$('#' + id + "-textarea").length == 0) {
                    AJS.$('#' + id).auiSelect2();
                    ##AJS.$(".select-2-single-cf").auiSelect2();
                }
            }

            AJS.toInit(function () {
                convertMulti("$customField.id");
            })

            JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e, context) {
                AJS.$("#$customField.id option[value='-1']").remove();
                convertMulti("$customField.id");
            });
        })(AJS.$);
    </script>
    #if( $value )
        <span
                style="word-break: normal;#if( $value.deleted )text-decoration:line-through;#end">
            $value.value
        </span>
    #end
    ##$!value.value
</div>
